/node_modules
/bower_components
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
.env
/public/uploads/**/*.mp4
/public/uploads/**/*.jpg
/public/uploads/**/*.gif
/public/uploads/**/*.avi
/public/uploads/**/*.mp3
/public/uploads/**/*.doc
/public/uploads/**/*.docx
/public/uploads/**/*.pdf
/public/uploads/**/*.zip
/.phpintel/
public/images/
/public/plugins/
