/node_modules
/bower_components
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
.env
/public/uploads/**/*.mp4
/public/uploads/**/*.jpg
/public/uploads/**/*.mkv
/public/uploads/**/*.png
/public/uploads/**/*.gif
/public/uploads/**/*.avi
/public/uploads/**/*.mp3
/public/uploads/**/*.doc
/public/uploads/**/*.docx
/public/uploads/**/*.pdf
/public/uploads/**/*.zip
/.phpintel/
public/images/
/public/plugins/
_ide_helper.php
/packages/storeacamp/htmlelements
!/public/images/
/public/js/min/
/public/js/storecamp.js
/public/js/plugins.js
/public/js/modules.js
/public/js/bootstrap.js
/public/js/app.js
/public/js/admin.js
/public/css/main/
/public/css/admin_lte.css
/public/css/admin_plugins.css
/public/css/admin_storecamp.css
/public/css/admin_skins.css
/public/css/app_less.css
/public/css/site_plugins.css
/public/css/site_storecamp.css
/public/js/plugins.js.map
/public/js/modules.js.map
/public/js/app.js.map
/public/js/storecamp.js.map
/public/js/admin.js.map
/public/css/site_storecamp.css.map
/public/css/site_plugins.css.map
!/public/js/bootstrap.js
/public/css/admin_plugins.css.map
/public/css/admin_skins.css.map
/public/css/admin_lte.css.map
/public/css/app_less.css.map
/public/css/admin_storecamp.css.map
/public/hot
npm-debug.log


# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env.*.php
.env.php

/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/receiver/*
/storage/debugbar/*
!/app/Http/Controllers/
/public/uploads/Logo.png
!/public/uploads/mails/
!/laradock/.env
