.category {
  li {
    list-style-type: none;
    a {
      padding: 4px 15px 4px 4px;
      margin: 0;
      width: auto!important;
      height: auto!important;
      text-align: left!important;
      i {
        padding-right: 5px;
        display: inline-block!important;
      }
    }
    ul {
      padding-left: 10px;
      li {
        a {
          color: lighten(#1c2529, 20%)!important;
        }
      }
    }
  }
}