//colors
$alice_blue: aliceblue;
$white: white;

//@extend-elements
//original selectors
//.delete-file, .rename-file, .download-file, .tag-file
%extend_1 {
  position: absolute;
  top: auto;
  right: 0;
  display: none;
  padding: 3px;
}

.delete-file {
  @extend %extend_1;
}

.rename-file {
  @extend %extend_1;
  display: none;
  top: 30px;
  z-index: 9999;
}

.locked-file {
  position: absolute;
  top: 5px;
  color: chocolate;
}

.download-file {
  @extend %extend_1;
  display: none;
  top: 30px;
  z-index: 9999;
}

.tag-file {
  @extend %extend_1;
}

.file-item {
  padding-top: 10px;
  padding-bottom: 10px;
  &.checked {
    -webkit-box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px #0073aa;
    box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px #0073aa;
  }
  .mailbox-attachment-icon {
    border: 1px solid transparent;
  }
  .mailbox-attachment-info {
    overflow: hidden;
  }
  &:hover {
    .mailbox-attachment-icon {
      border: 1px solid #3c8dbc;
    }
  }
  .item-icons {
    height: 2em;
  }
  .item-icon {
    width: 100%;
    height: 150px;
    display: block;
    font-size: 120px;
    text-align: center;
    list-style-type: none !important;
  }
  .item-image {
    width: 100%;
    display: block;
    font-size: 120px;
    text-align: center;
    list-style-type: none !important;
  }
  &:hover {
    .delete-file {
      display: block;
      z-index: 9999;
    }
    .download-file {
      display: block;
      z-index: 9999;
    }
  }
}

#my-awesome-dropzone-body {
  border: 2px dashed $alice_blue;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 5px;
  background: $white;
  .dz-message {
    text-decoration: dashed;
    font-weight: 700;
  }
  > .dz-preview {
    display: none;
  }
}

.files li {
  list-style-type: none;
}

.directory-item:hover {
  .delete-file {
    display: block;
    z-index: 9999;
  }
  .rename-file {
    display: block;
    z-index: 9999;
  }
}

.media_tags {
  display: inline-block;
  li {
    list-style-type: none;
    display: inline;
    a {
      border-bottom: 2px solid transparent;
      background: transparent;
    }
    &.active a, &:hover a {
      border-radius: 0;
      background: #3d3d3d;
      color: whitesmoke;
      border-bottom: 2px solid #3d3d3d;
    }
  }
}

.dropzone {
  border: 2px dashed $alice_blue !important;
  border-radius: 5px;
  background: white;
}

.playing {
  .mailbox-attachment-icon {
    border: 1px solid #3c8dbc;
  }
}

.directories {
  .box-default {
    border: none;
    box-shadow: none;
    border-left: 2px dashed $alice_blue;
    min-height: 400px;
  }
  .box-header {
    border-bottom: 2px dashed $alice_blue;
  }
}

#fileLinker-modal {
  .selected-block {
    word-wrap: break-word;
    div {
      text-align: center;
      img {
        width: 100%;
        height: auto;
        position: relative;
        background: #f4f4f4;
        border: 2px solid #f4f4f4;
      }
      small {
      }
      .item-icon {
        width: 100%;
        height: 120px;
        display: block;
        font-size: 90px;
        text-align: center;
        list-style-type: none !important;
        border: 2px solid #f4f4f4;
        background: #f4f4f4;
      }

    }
  }
}

.files.selected-block {
  word-wrap: break-word;
  display: block;
  width: 100%;
  div {
    text-align: center;
    img {
      width: 100%;
      height: auto;
      position: relative;
      background: #f4f4f4;
      border: 2px solid #f4f4f4;
    }
    small {
    }
    .item-icon {
      width: 100%;
      height: 120px;
      display: block;
      font-size: 90px;
      text-align: center;
      list-style-type: none !important;
      border: 2px solid #f4f4f4;
      background: #f4f4f4;
    }
  }
}
%extend_2 {
  display: inline-block;
  position: relative;
}
.items-list {
  &:hover {

  }
  .delete-btn {
    @extend %extend_2
  }

  .rename-btn {
    @extend %extend_2

  }
  .download-btn {
    @extend %extend_2

  }
  .info-btn {
    @extend %extend_2
  }
}