@import '../../../../public/plugins/bourbon/app/assets/stylesheets/_bourbon.scss'; // http://bourbon.io/

// colors

$color-1: #f8f8f8;
$color-2: $brand-primary;
$color-3: #3e454c;
$color-4: $cyan-color;


// fonts

$primary-font: 'Open Sans', sans-serif;

// header size

$header-height-S: 0px;
$header-height-M: 0px;

//sidebar size

$sidebar-width-M: 100%;
$sidebar-width-L: 100%;

// center vertically and/or horizontally an absolute positioned element

@mixin center($xy:xy) {
  @if $xy == xy {
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    @include transform(translateX(-50%) translateY(-50%));
  }
  @else if $xy == x {
    left: 50%;
    right: auto;
    @include transform(translateX(-50%));
  }
  @else if $xy == y {
    top: 50%;
    bottom: auto;
    @include transform(translateY(-50%));
  }
}

// antialiasing mode font rendering

@mixin font-smoothing {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// breakpoints

$S:     480px;
$M:     768px;
$L:     1170px;

// media queries

@mixin MQ($canvas) {
  @if $canvas == S {
    @media only screen and (min-width: $S) { @content; }
  }
  @else if $canvas == M {
    @media only screen and (min-width: $M) { @content; }
  }
  @else if $canvas == L {
    @media only screen and (min-width: $L) { @content; }
  }
}

/* --------------------------------

Primary style

-------------------------------- */


.sidebar-nav-trigger {
  /* navigation trigger - visible on mobile devices only */
  float: right;
  position: relative;
  display: block;
  width: 34px;
  height: 44px;
  margin-right: 5%;
  /* hide text */
  overflow: hidden;
  white-space: nowrap;
  color: transparent;

  span, span::before, span::after {
    /* hamburger icon in CSS */
    position: absolute;
    display: inline-block;
    height: 3px;
    width: 24px;
    background: $color-3;
  }

  span {
    /* line in the center */
    position: absolute;
    top: 50%;
    right: 5px;
    margin-top: -2px;
    @include transition(background .2s);
  }

  span::before, span::after {
    /* other 2 lines */
    content: '';
    right: 0;
    /* Force Hardware Acceleration in WebKit */
    @include transform(translateZ(0));
    @include backface-visibility(hidden);

    @include transform-origin(0% 50%);
    @include transition(transform .2s);
  }

  span::before {
    /* menu icon top line */
    top: -6px;
  }

  span::after {
    /* menu icon bottom line */
    top: 6px;
  }

  &.nav-is-visible {
    span {
      /* hide line in the center */
      background: rgba($color-3, 0);
    }

    span::before, span::after {
      /* keep visible other 2 lines */
      background: rgba($color-3, 1);
    }

    span::before {
      @include transform(translateX(4px) translateY(-3px) rotate(45deg));
    }

    span::after {
      @include transform(translateX(4px) translateY(2px) rotate(-45deg));
    }
  }

  @include MQ(M) {
    display: none;
  }
}

.sidebar-search {
  position: relative;
  margin: 1.2em 5% 0.6em;

  &.is-hidden {
    opacity: 0;
  }

  &::before {
    /* lens icon */
  }

  input {
    padding-left: 32px;
    width: 100%;
    height: 36px;
    border: none;
    border-radius: .25em;
    @include appearance(none);

    &:focus {
      outline: none;
    }
  }

  @include MQ(M) {
    float: left;
    display: inline-block;
    width: 250px;
    height: 100%;
    // padding: 12px 0;
    margin: 0 0 0 2.5em;

    &.is-hidden {
      /* reset style */
      opacity: 1;
    }

    &::before {
      background-position: 0 -16px;
      left: 1em;
    }

    form, input {
      height: 100%;
      width: 100%;
    }

    input {
      border: none;
      padding-left: 2.6em;
      border-radius: 0;
      background-color: $color-1;
      border-left: 1px solid tint($color-1, 10%);
      color: $color-3;

      @include placeholder {
        color: tint($color-1, 30%);
      }
    }
  }
}

/* --------------------------------

Top Navigation

-------------------------------- */

.sidebar-nav {
  /* top nav - not visible on mobile devices */
  display: none;
  li {
    list-style-type: none;
  }
  ul {
    list-style-type: none;
  }
  @include MQ(M) {
    display: block;
    float: right;
    height: 100%;
  }
}

.sidebar-top-nav {
  > li > a::before  {
    /* reset style */
    display: none;
  }

  > li a {
    padding: 1em 5% !important;
  }

  img {
    /* avatar image */
    position: absolute;
    left: 1.8em;
    @include center(y);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: none;
  }

  @include MQ(M) {
    height: 100%;

    a {
      display: block;
      font-size: 1.4rem;
      color: $color-3;
    }

    > li {
      display: inline-block;
      margin-right: 1em;
      height: 100%;

      &:last-of-type {
        margin-right: 0;
      }
    }

    > li a {
      padding: 1em .6em !important;
    }

    img {
      display: block;
    }
  }

  @include MQ(L) {
    li:not(.has-children) a:hover {
      color: $color-2;
    }
  }
}

/* --------------------------------

Sidebar

-------------------------------- */

.site_sidebar {
  position: relative;
  height: auto;
  display: block;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  padding: $header-height-S 0 0;
  background-color: $color-1;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  @include font-smoothing;
  @include transition(opacity .2s 0s, visibility 0s .2s);

  &.nav-is-visible {
    opacity: 1;
    visibility: visible;
    overflow: visible;
    -webkit-overflow-scrolling: touch;
    @include transition(opacity .2s 0s, visibility 0s 0s);
    max-height: none;
    box-shadow: 0 2px 10px rgba(#000, .2);
  }

  > ul {
    padding: 0.6em 0;

    &:last-of-type {
      padding-bottom: 0;
    }
  }

  .sidebar-label, a {
    display: block;
    padding: 1em 5%;
  }

  .sidebar-label {
    text-transform: uppercase;
    font-weight: bold;
    color: tint($color-3, 20%);
    font-size: 1rem;
    letter-spacing: .1em;
  }

  a {
    position: relative;
    color: $color-3;
    font-size: 1.4rem;
  }

  ul.sidebar-top-nav > li:last-of-type > a {
    border-bottom: none;
  }

  > ul > li > a {
    padding-left: calc(5% + 24px);
    border-bottom: 1px solid darken($color-1, 3%);

    &::before {
    }
  }

  > ul > li.overview > a::before {
    background-position: -64px 0;
  }

  > ul > li.notifications > a::before {
    background-position: -80px 0;
  }

  > ul > li.comments > a::before {
    background-position: -48px 0;
  }

  > ul > li.bookmarks > a::before {
    background-position: -32px 0;
  }

  > ul > li.images > a::before {
    background-position: 0 0;
  }

  > ul > li.users > a::before {
    background-position: -16px 0;
  }

  .count {
    /* notification badge */
    position: absolute;
    @include center(y);
    right: calc(5% + 16px + 0.4em);

    padding: 0.2em 0.4em;
    background-color: $color-4;
    border-radius: .25em;

    color: whitesmoke;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
  }

  .action-btn a {
    display: block;
    margin: 0 5%;
    padding: 1em 0;
    background-color: $color-2;
    border-radius: .25em;
    border: none;
    box-shadow: 0 1px 3px rgba(#000, .3), inset 0 1px 0 rgba(#fff, .2);

    text-align: center;
    color: $color-3;
    font-weight: bold;

    &::before {
      display: none;
    }
  }

  @include MQ(M) {
    position: relative;
    float: left;
    top: auto;
    width: $sidebar-width-M;
    height: auto;
    padding-top: $header-height-M;
    /* reset style */
    visibility: visible;
    opacity: 1;
    overflow: visible;
    max-height: none;

    &.nav-is-visible {
      box-shadow: none;
    }

    &.is-fixed {
      position: fixed;
    }

    > ul {
      /* reset style */
      padding: 0;
    }

    .sidebar-label {
      /* remove labels on minified version of the sidebar */
      display: none;
    }

    a {
      font-size: 1.2rem;
      text-align: center;
    }

    > ul > li > a {
      padding: calc(2.2em + 24px) 0 2.4em;
      text-align: left;
      border-bottom: none;
      font-size: 1.4rem;
      &::before {
        @include center(x);
        top: 2.4em;
      }
    }

    .active > a {
      /* current page */
      box-shadow: inset 3px 0 0 $color-2;
      background-color: darken($color-1, 5%);
    }

    .action-btn a {
      margin: 1em 10% 0;
    }

    .count {
      height: 8px;
      width: 8px;
      border-radius: 50%;
      box-shadow: 0 0 6px rgba(#000, .2);
      padding: 0;
      top: 2em;
      @include transform(translateX(-50%));
      left: calc(50% + 5px);
      right: auto;
      color: transparent;
    }
  }

  @include MQ(L) {
    width: $sidebar-width-L;

    > ul {
      padding: 0.6em 0;
      list-style-type: none;
    }

    > ul > li:not(.action-btn):hover > a {
      background-color: darken($color-1, 5%);
      list-style-type: none;
    }

    > ul > li > a {
      padding: 1em 1em 1em 42px;
      text-align: left;
      border-bottom: none;

      &::before {
        @include center(y);
        left: 18px;
      }
    }

    .sidebar-label {
      display: block;
      padding: 1em 18px;
    }

    .action-btn {
      text-align: left;

      a {
        margin: 0 18px;

        .no-touch &:hover {
          background-color: lighten($color-2, 5%);
        }
      }
    }

    .count {
      /* reset style */
      color: whitesmoke;
      height: auto;
      width: auto;
      border-radius: .25em;
      padding: .2em .4em;
      @include center(y);
      right: 18px;
      left: auto;
      box-shadow: none;
    }
  }
}

.has-children {

  ul {
    position: relative;
    width: 100%;
    list-style-type: none;
    display: none;
    background-color: darken($color-1, 5%);
  }

  > a::after {
    /* arrow icon */
  }

  &.selected > ul {
    display: block;
  }

  &.selected > a::after {
    @include transform(translateY(-50%) rotate(180deg));
  }

  @include MQ(M) {
    position: relative;

    ul {
      position: absolute;
      top: 0;
      left: 100%;
      width: 160px;
      padding: 0;
      box-shadow: 0 2px 10px rgba(#000, .3);
    }

    ul a {
      text-align: left;
      border: none;
      padding: 1em;

      .no-touch &:hover {
        color: $color-2;
      }
    }

    > a::after {
      display: none;
    }

    .site_sidebar & {
      &.selected > a {
        /* focus state -> show sub pages */
        background-color: darken($color-1, 5%);
      }
    }

    .sidebar-top-nav & {
      position: relative;
      background-color: darken($color-1, 8%);

      > a {
        height: 100%;
        padding: 0 calc(1.8em + 22px) 0 calc(1.8em + 26px) !important;
        line-height: $header-height-M;

        &::after {
          display: block;
          right: 1.8em;
        }
      }

      ul {
        background-color: darken($color-1, 15%);
        width: 200px;
        top: 100%;
        right: 0;
        left: auto;
        box-shadow: 0 1px 10px rgba(#000, .2);
      }

      ul a {
        padding-left: 18px !important;
      }
    }
  }

  @include MQ(L) {

    > ul {
      width: 100%;
      z-index: 1;
    }

    ul a {
      padding-left: 18px;
    }

    &.active > ul {
      /* if the item is active, make the subnavigation visible */
      position: relative;
      display: block;
      /* reset style */
      left: 0;
      box-shadow: none;
    }

    .no-touch .site_sidebar &:hover > ul,
    .site_sidebar &.hover > ul {
      /* show subnavigation on hover */
      display: block;
      opacity: 1;
      visibility: visible;
      z-index: 999;
    }
  }
}

.site_sidebar
{
  list-style: none!important;
  ul li {
    list-style-type: none;
    border-bottom: 1px solid lighten($color-3, 50%);
    li {
      list-style-type: none;
      border-bottom: none;
    }
  }
  ul > li > ul {
    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
    li {
      border-bottom: 1px solid lighten($color-3, 50%);
    }

  }
}