.slider-text {
  padding-top: 40px;
  display: block;
  .col-md-6 {
    overflow: hidden;
  }
  h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 3px;
    margin: 30px auto;
    padding-left: 40px;
    &::after {
      border-top: 2px solid #c7c7c7;
      content: "";
      position: absolute;
      bottom: 35px;
      width: 100%;
    }
  }
}